<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiphyAPI</title>
    <link href="https://fonts.googleapis.com/css2?family=Smooch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <img id="bgImage" src="/uploads/bg.jpg" alt="">
    <div id="container-media-outer">
        <input id="searchGiphy" type="text" placeholder="Search GIPHY....." required>
        <!-- <div id="text-inside-container">No Results Found</div> -->
        <div id="giphy-imgs-gifs">
                      <!-- gifs and images will get prepend here! -->
        </div>
    </div>
    <div id="footer">Vishal M. 2022</div>
</body>
<script src="/js/soundcloud.js"></script>
</html>