
html{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    // color: white;
    height: 100vh;
    font-family: 'Finlandica', sans-serif;
    #bgImage{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        opacity: .6;
        z-index: -1;
    }
    #container-media-outer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 100px;
        width: 536px;
        background-color:rgba(163,163,163,.5);
        border-radius: 6px;
        text-align: center;
        transition-duration: .5s;
        input{
            text-align: center;
            width: 80%;
            height: 35px;
            border: none;
            outline: 0;
            font-size: 20px;
            color: #686351;
            border-radius: 3px;
            margin-top: 30px;
            background-color: #b7ac95;        
        }
        #text-inside-container{
            font-size: 35px;
            color: #dddacd96;
        }
        #giphy-imgs-gifs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 0%;
            overflow: scroll;
            transition-duration: 0.5s;
            margin-top: 20px;
            .gifs-giphy{
                margin: 10px 5px 10px 5px;
                height:100px;
                // width: 20px;
                width: auto;
                object-fit: cover;
                border-radius: 3px;
                cursor: pointer;
            }
        }
        #giphy-imgs-gifs::-webkit-scrollbar{
            display: none;
        }
    }
    #footer{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        color: #936b7a;
        font-family: 'Smooch', cursive;
    }
}